.controls {
  display:         flex;
  justify-content: center;

  width:           100%;
  margin:          10px 0 0;
  padding:         0;
}

.controls__input {
  composes:   textfield from 'css/base.pcss';

  flex:       1;

  background: #fff;
}

.controls__btn {
  composes: controlbtn from 'css/base.pcss';
}
