.controls {
  display:         flex;
  justify-content: center;

  width:           100%;
  margin:          0;
  padding:         20px 0 0;
}

.controls__input {
  flex: 1;
  border: 1px solid #ccc;
}
