.preview {
  composes: subcomponent from 'css/base.pcss';
  composes: fader from 'css/base.pcss';
}

.preview__footer {
  margin-top: auto;
  border:     none;
  font-size:  1rem;
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
}
