.preview {
  /*@apply --fader;*/

  display:        flex;
  flex-direction: column;

  width:          200px;
  height:         200px;
}

.preview__footer {
  margin-top: auto;
  border:     none;
  font-size:  1rem;
  text-align: center;
  background: rgba(#fff, 0.5);
}
